.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 116px;
}
.heading {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #004750;
}

.description {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #646464;
}

.main-box {
  box-sizing: border-box;
  width: 1302px;
  /* width: 100%; */
  height: 800px;
  margin-top: 84px;
  border: 1px solid #e3eef0;
  border-radius: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

.second-box {
  width: 1156px;
  height: 710px;
  background: #ffffff;
  box-shadow: 0px 4px 200px rgba(198, 225, 230, 0.25);
  border-radius: 355px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 1156px;
  height: 710px;
  position: absolute;
}

.icon {
  width: 100px;
  height: 82px;
  background: #ffffff;
  box-shadow: 0px 4px 90px rgba(198, 225, 230, 0.8);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: capitalize;
  color: #004750;
  margin-top: 17px;
}

.report {
  top: 106px;
  left: 206px;
  position: inherit;
}

.lead {
  top: 36px;
  left: 509px;
  position: inherit;
}
.lead .icon-title {
  width: 138px;
}

.maintainance {
  top: 334px;
  left: 100px;
  position: inherit;
}
.maintainance .icon-title {
  width: 140px;
}

.payment {
  top: 520px;
  left: 277px;
  position: inherit;
}
.payment .icon-title {
  width: 107px;
}

.group {
  top: 541px;
  left: 578px;
  position: inherit;
}

.community_manager {
  top: 438px;
  left: 866px;
  position: inherit;
}
.community_manager .icon-title {
  width: 125px;
}

.resident {
  top: 152px;
  left: 843px;
  position: inherit;
}
.resident .icon-title {
  width: 182px;
}

.single-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}

/* toltip */

.single-icon strong {
  background-color: white;
  box-shadow: 0px 4px 90px rgba(198, 225, 230, 0.6);
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #646464;
  position: inherit;
  top: 0;
  left: -75px;
  right: -75px;
  padding: 7px;
  visibility: hidden;
}

.single-icon strong:before {
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 45px solid white;
  position: absolute;
  top: -35px;
}

.report strong:before {
  left: 105px;
}

.report:hover strong {
  top: 162px;
}

.maintainance strong:before {
  left: 130px;
}

.maintainance:hover strong {
  top: 162px;
}

.payment strong:before {
  left: 112px;
}

.payment:hover strong {
  top: 162px;
}

.group strong:before {
  left: 130px;
}

.group:hover strong {
  top: 162px;
}

.community_manager strong:before {
  left: 125px;
}

.community_manager:hover strong {
  top: 162px;
}

.lead strong:before {
  left: 125px;
}

.lead:hover strong {
  top: 184px;
}

.resident strong:before {
  left: 145px;
}

.resident:hover strong {
  top: 186px;
}

.single-icon:hover strong {
  visibility: visible;
  opacity: 1;
}

/* toltip */

.third-box {
  box-sizing: border-box;
  width: 810px;
  height: 488px;
  border: 2px dashed #008c96;
  border-radius: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.core-box {
  box-sizing: border-box;
  width: 584px;
  height: 314px;
  border: 1px solid #d9f3f4;
  border-radius: 355px;
  display: flex;
  justify-content: center;
  align-items: center;
}
