.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.heading {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #004750;
}

.description {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #646464;
}

.main-box {
  box-sizing: border-box;
  width: 1302px;
  /* width: 100%; */
  height: 800px;
  margin-top: 84px;
  border: 1px solid #e3eef0;
  border-radius: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-box {
  width: 1156px;
  height: 710px;
  background: #ffffff;
  box-shadow: 0px 4px 200px rgba(198, 225, 230, 0.25);
  border-radius: 355px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 1156px;
  height: 710px;
  position: absolute;
}

.icon {
  width: 100px;
  height: 81.68px;
  background: #ffffff;
  box-shadow: 0px 4px 90px rgba(198, 225, 230, 0.8);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: capitalize;
  color: #004750;
  margin-top: 20px;
}

.report {
  top: 106px;
  left: 206px;
  position: inherit;
}

.lead {
  top: 36px;
  left: 509px;
  position: inherit;
}

.single-icon {
  width: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-box {
  box-sizing: border-box;
  width: 810px;
  height: 488px;
  border: 2px dashed #008c96;
  border-radius: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.core-box {
  box-sizing: border-box;
  width: 584px;
  height: 314px;
  border: 1px solid #d9f3f4;
  border-radius: 355px;
}
